# Database Configuration
DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=Rayldo_007
DB_NAME=db_woloan
DB_PORT=3306

# Server
PORT=5000

# JWT Secret (GANTI dengan string acak yang panjang!)
JWT_SECRET=woloan_dua_gacor_secret-key

# Admin Default Credentials (untuk seed)
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123